<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Jugador: 1 V.S. Computadora: 2</h1>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
      <p>Partida Nro:{{ partida.id }}</p>
    </div>
  </div>
<div class="row">
  <div class="col-md-4 offset-md-4">
      <table class="table table-striped table-dark">
          <tbody>
            <tr>
              <td class="border border-info"><button (click)="updatePartida(1)" class="btn"><h3 class="text-white">{{ partida.casilla1 }}</h3></button></td>
              <td class="border border-info"><button (click)="updatePartida(2)" class="btn"><h3 class="text-white">{{ partida.casilla2 }}</h3></button></td>
              <td class="border border-info"><button (click)="updatePartida(3)" class="btn"><h3 class="text-white">{{ partida.casilla3 }}</h3></button></td>
            </tr>
            <tr>
              <td class="border border-info"><button (click)="updatePartida(4)" class="btn"><h3 class="text-white">{{ partida.casilla4 }}</h3></button></td>
              <td class="border border-info"><button (click)="updatePartida(5)" class="btn"><h3 class="text-white">{{ partida.casilla5 }}</h3></button></td>
              <td class="border border-info"><button (click)="updatePartida(6)" class="btn"><h3 class="text-white">{{ partida.casilla6 }}</h3></button></td>
            </tr>
            <tr>
              <td class="border border-info"><button (click)="updatePartida(7)" class="btn"><h3 class="text-white">{{ partida.casilla7 }}</h3></button></td>
              <td class="border border-info"><button (click)="updatePartida(8)" class="btn"><h3 class="text-white">{{ partida.casilla8 }}</h3></button></td>
              <td class="border border-info"><button (click)="updatePartida(9)" class="btn"><h3 class="text-white">{{ partida.casilla9 }}</h3></button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <p>Ganador: {{ partida.resultado }}</p>
  </div>
</div>
