<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
      <p>Partida Nro:</p>
    </div>
  </div>
<div class="row">
  <div class="col-md-4 offset-md-4">
      <table class="table table-striped table-dark">
          <tbody>
            <tr>
              <td class="border border-info"><a href=""></a></td>
              <td class="border border-info">Otto</td>
              <td class="border border-info">@mdo</td>
            </tr>
            <tr>
              <td class="border border-info">Jacob</td>
              <td class="border border-info">Thornton</td>
              <td class="border border-info">@fat</td>
            </tr>
            <tr>
              <td class="border border-info">Larry</td>
              <td class="border border-info">the Bird</td>
              <td class="border border-info">@twitter</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <p>Ganador:</p>
  </div>
</div>
